%section#skills.white-bg
  .container
    .row.skills
      %h1.text-center.scrollimation.fade-in I Got the Skills
      .col-sm-4.col-md-2.text-center
        %span.chart{"data-percent" => "85"}
          %span.percent 85
        %h2.text-center Ruby on Rails
      .col-sm-4.col-md-2.text-center
        %span.chart{"data-percent" => "80"}
          %span.percent 80
        %h2.text-center HTML/CSS
      .col-sm-4.col-md-2.text-center
        %span.chart{"data-percent" => "60"}
          %span.percent 60
        %h2.text-center JS & jQuery
      .col-sm-4.col-md-2.text-center
        %span.chart{"data-percent" => "60"}
          %span.percent 80
        %h2.text-center RDBMS
      .col-sm-4.col-md-2.text-center
        %span.chart{"data-percent" => "60"}
          %span.percent 60
        %h2.text-center Java/Spring
      .col-sm-4.col-md-2.text-center
        %span.chart{"data-percent" => "85"}
          %span.percent 85
        %h2.text-center Data Mining

:javascript
  $(window).scroll(function(){
    if ($(window).scrollTop()===0){
      $('#main-nav').addClass('scrolled');
    }
    else{
      $('#main-nav').addClass('scrolled');
    }
  });
