%section#about.dark-bg.light-typo.padding-top-bottom
  .container
    %header.section-header.text-center
      %h1.scrollimation.scale-in About Me
    .row
      .col-sm-8.col-sm-offset-2
        =image_tag "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('navyboys@gmail.com')}?s=150", class: "img-responsive img-center img-circle scrollimation fade-left"


        %p.scrollimation.fade-in
          I live in sunny South Florida with my fiance and 3 dogs. I became interested in programming and web development around 2007 and have been hooked ever since. I currently work for a boat dealership called Dusky Sportcenter. I created their web site
          =link_to 'duskyonline.com', 'http://www.duskyonline.com'
          shortly after I was hired and have been adding features and products since then.
        %p.scrollimation.fade-in
          I started learning Ruby on Rails with
          =link_to 'Tealeaf Academy', 'http://www.gotealeaf.com'
          in May 2014 and finished in November. I did so well in their program that they decided to make me a teacher's assistant 2 months before I was finshed.
        %p.scrollimation.fade-in
          Right now I'm looking for a full time position as a Ruby web developer, but I'm also available for freelance work or fun/intersting projects. My strongest skills are with back end code, but I also have a good foundation in front end html/css and working with photoshop on graphics.
        %p.scrollimation.fade-in
          Aside from programming I like to pass the time playing guitar, mountain biking, camping, gardening, and binge watching Game of Thrones with my fiance on the couch.

    %p.text-center
      =link_to new_inquiry_path, class: 'btn btn-meflat scrollto white.icon-left' do
        %i.fa.fa-arrow-down
        Contact Me
