%section#about.dark-bg.light-typo.padding-top-bottom
  .container
    %header.section-header.text-center
      %h1.scrollimation.scale-in About Me
    .row
      .col-sm-8.col-sm-offset-2
        =image_tag "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('navyboys@gmail.com')}?s=150", class: "img-responsive img-center img-circle scrollimation fade-left"

        %p.scrollimation.fade-in
          I came to Canada as a skilled worker immigrant in September 2014 and now live in Fleetwood, Surrey with my wife and son. My background is in Enterprise Computing (ERP/MES/CRM...) as a developer, architect and project manager. But in the past few years I have turned my focus to web development with Ruby on Rails and hope to develop my career further to a full stack web developer.
        %p.scrollimation.fade-in
          In past two years, I spent hundreds of hours and thousands of dollars to learn Ruby on Rails with
          =link_to 'Tealeaf Academy', 'http://www.gotealeaf.com', target: 'blank'
          in a systematic way. With the skills I learned from Tealeaf Academy and my co-workers, and also as the founder and one of the key developers of my own startup in China, I participated in developing a Management Information System with Ruby on Rails for inspection industry and implemented it to one of the leader company in China -
          =link_to 'Longway Inspection.', 'http://www.longwaysh.com/', target: 'blank'
          The system is still running well nowadays and the customer is very satisfied with our work. Our team also launched an internet service named teamail.biz which won the Finalist Award of the 2nd China Innovation & Entrepreneurship Competition (Shanghai Division).
        %p.scrollimation.fade-in
          I enjoy working in a team. Through my experience as a project manager for years, I know exactly how to communicate and cooperate with team members. I am familiar with both Agile and Waterfall procedure as well as respective tools and can contribute my planning skills to help the whole team to run smoothly.
        %p.scrollimation.fade-in
          Aside from programming I like to pass the time playing with my four years old son, reading and jogging. I ran the Shanghai Marathon twice for its half course and will run my first Vancouver Marathon (also half-course) in the coming May 1st.

    %p.text-center
      =link_to new_inquiry_path, class: 'btn btn-meflat scrollto white.icon-left' do
        %i.fa.fa-arrow-down
        Contact Me
Status API Training Shop Blog About Pricing
