%header#home.jumbotron
  .container
    .row
      .col-sm-6.text-col
        %h1 
          Doug Steinberg
        %p full stack Ruby on Rails developer
        %p.text-center
          =link_to '/about', class: 'btn btn-meflat btn-about scrollto dark-bg icon-left' do
            %i.fa.fa-arrow-right
              About Me
      .col-sm-6
        .imac-frame
          %img.img-responsive.img-center{:alt => "", :src => "assets/imac.png"}/
          .imac-screen.flexslider
            %ul.slides
              %li
                =image_tag('/assets/images/ruby-on-rails.jpg')
              %li
                =image_tag('/assets/images/html5_css3_javascript.jpg')  
              %li
                =image_tag('/assets/images/code.jpg')
              %li
                =image_tag('/assets/images/github.jpg')
              %li
                =image_tag('/assets/images/heroku-logo.jpg')    
:javascript
  if ($(window).scrollTop()===0){
    $('#main-nav').removeClass('scrolled');
  }
  else{
    $('#main-nav').addClass('scrolled');    
  }

  $(window).scroll(function(){
    if ($(window).scrollTop()===0){
      $('#main-nav').removeClass('scrolled');
    }
    else{
      $('#main-nav').addClass('scrolled');    
    }
  });

  $(document).ready(function(){
    $('.jumbotron').css('min-height', $(window).height() + 120);
  });