%article.project-item.ruby-sinatra
  =image_tag "/assets/images/projects/blackJack-small.jpg", class: "img-responsive.project-image"
  / Project thumb
  .hover-mask
    %h2.project-title NavyBLACKJACK
    / Project Title
    %p Web-based BlackJack Game
    / Project Subtitle
  / ==== Project Preview HTML ====
  .sr-only.project-description{"data-category" => "Ruby, Sinatra", "data-date" => "2014", "data-descr" => "Web based Blackjack Game built with Sinatra", "data-images" => "/assets/images/projects/BlackJack-01.png, /assets/images/projects/BlackJack-02.png, /assets/images/projects/BlackJack-03.png, /assets/images/projects/BlackJack-04.png", "data-link" => "navybj.herokuapp.com, http://navybj.herokuapp.com", "data-github" => "https://github.com/navyboys/NavyBJ"}
    %p
      This is an interactive web-based BlackJack Game build for
      =link_to 'TeaLeaf Academy', 'https://launchschool.com/courses'
      's course:
      %b Introduction to Ruby and Web Development.

    %h4 Features
    %ul
      %li Set name and get 500$ to bet
      %li Make bet
      %li Play!
      %li Start Over

    %h4 Skills
    %ul
      %li HTTP
      %li Request/Response life cycle
      %li URL mapping and routing requests
      %li Static/Dynamic web pages
      %li ERB
      %li Processing Forms
      %li Passing in parameters
      %li Response: render, redirect, status codes
      %li Sessions
      %li Deploying to Heroku
      %li Debugging with pry
      %li Built with Ruby 2 and Sinatra
      %li Use cookies for data persistance
      %li incorporated some jQuery for UI interaction
      %li Admin function by Roles
      %li UI with default BootStrap styles

    %p.text-center
      =link_to 'http://navybj.herokuapp.com' do
        %button.btn.btn-meflat.icon-right
          Visit
          %i.fa.fa-arrow-right
