%article.project-item.php
  =image_tag "/assets/images/projects/dusky-small.jpg", class: "img-responsive.project-image" 
  / Project thumb
  .hover-mask
    %h2.project-title Dusky Sport Center
    / Project Title
    %p Boat dealer web site with a custom CMS and Ecommerce with Miva Merchant
    / Project Subtitle
  / ==== Project Preview HTML ====
  .sr-only.project-description{"data-category" => "PHP, Miva Merchant, e-commerce", "data-date" => "2014", "data-descr" => "Informational and E-Commerce Site for Dusky Sport Center.", "data-images" => "/assets/images/projects/dusky1.jpg, /assets/images/projects/dusky2.jpg, /assets/images/projects/dusky3.jpg,/assets/images/projects/dusky4.jpg,/assets/images/projects/dusky5.jpg,/assets/images/projects/dusky6.jpg,/assets/images/projects/dusky7.jpg,/assets/images/projects/dusky8.jpg,/assets/images/projects/dusky9.jpg", "data-link" => "www.duskysportcenter.com, http://www.duskysportcenter.com"}
    %p Dusky Sportcenter is a boat and outboard motor dealer.  They also sell boating merchandise, parts, fishing supplies and accessories etc. This is the company I spent my entire web design and development career with so far. I created this site for them from scratch, and I am responsible for all updates. It is e-commerce enabled on a platform called "Miva Merchant." The site features a custom designed Content Management System for showcasing their boat brands, makes, and models. There are 2 main lead management systems built in. One is for in stock boats , the other is for custom real time price quotes of all the boats offers by the Manufactures.
    %h4 The technologies used for this site include:
    %ul
      %li PHP
      %li mySQL
      %li HTML
      %li CSS
      %li javascript
      %li jQuery
      %li jQuery UI
      %li tabless css layout
      %li Miva Merchant
    %p.text-right
      =link_to 'http://www.duskysportcenter.com' do
        %button.btn.btn-meflat.icon-right
          Visit Website
          %i.fa.fa-arrow-right