%article.project-item.ruby-on-rails
  =image_tag "/assets/images/projects/Inspection-Small.jpg", class: "img-responsive.project-image"
  / Project thumb
  .hover-mask
    %h2.project-title Inspection MIS
    / Project Title
    %p MIS for Inspection Industry
    / Project Subtitle
  / ==== Project Preview HTML ====
  .sr-only.project-description{"data-category" => "Ruby on Rails, TDD", "data-date" => "2014", "data-descr" => "Management Information System suited for inspection industry.", "data-images" => "/assets/images/projects/Inspection-01.jpg, /assets/images/projects/Inspection-02.jpg, /assets/images/projects/Inspection-03.jpg, /assets/images/projects/Inspection-04.jpg, /assets/images/projects/Inspection-05.jpg, /assets/images/projects/Inspection-06.jpg, /assets/images/projects/Inspection-07.jpg, /assets/images/projects/Inspection-08.jpg"}
    %p This is a Management Information System produced for one of the leader inspection companies in China.
    %p It was the second products shipped by LohasWorks which I founded in 2013 and I was also one of the key developer of the project.

    %h4 Modules
    %ul
      %li Employee Management
      %li Customer Management
      %li Job Order Management
      %li Invoice Management
      %li Expense Management
      %li Statistical Analytics

    %h4 Skills
    %ul
      %li Built with Ruby 2 and Rails 4
      %li Authentication system form scratch
      %li TDD with Rspec, Capybara, Selenium
      %li Code quality with RuboCop and Rails Best Practices
      %li Continuous CI and CD with Jenkins, Capistrano and Aliyun
      %li Grid processing with WiceGrid
      %li Charting with ChartKick, HighTop
