%article.project-item.wordpress
  =image_tag "/assets/images/projects/meg-small.jpg", class: "img-responsive.project-image" 
  / Project thumb
  .hover-mask
    %h2.project-title Maximum Entertainment Group
    / Project Title
    %p Music School/Production company
    / Project Subtitle
  / ==== Project Preview HTML ====
  .sr-only.project-description{"data-category" => "Wordpress", "data-date" => "2014", "data-descr" => "Custom Wordpress site for showcasing Music artist, Lessons, and Production service. ", "data-images" => "/assets/images/projects/meg1.jpg, /assets/images/projects/meg2.jpg, /assets/images/projects/meg3.jpg", "data-link" => "maximumentgroup.com, http://www.maximumentgroup.com"}
    %p This is a freelance project which I collaborated with a graphic designer on. I was responsible for all the code and she created the graphics. We both collaborated on the site architecture and sitemap. Maximum entertainment Group is a music production company/ music school . This site is built on WordPress. There are several custom features built in including a front page slider gallery, artist portfolio and event section. The two sections work together so they can share data.  The site is also ecommerce enablesd with the wooCommerce plugin. The main categories on the site (Lessons, Recording, and Rehearsal) are all eCommerce enabled.
    %h4 The technologies used for this site include:
    %ul
      %li WordPress
      %li WooCommerce
      %li PHP
      %li HTML
      %li CSS
      %li javascript
      %li jQuery
      %li jQuery UI
    %p.text-right
      =link_to 'http://www.maximumentgroup.com' do
        %button.btn.btn-meflat.icon-right
          Visit Website
          %i.fa.fa-arrow-right