%article.project-item.ruby-on-rails
  =image_tag "/assets/images/projects/navyflix-small.jpg", class: "img-responsive.project-image"
  / Project thumb
  .hover-mask
    %h2.project-title NavyFLiX
    / Project Title
    %p NetFLiX Clone
    / Project Subtitle
  / ==== Project Preview HTML ====
  .sr-only.project-description{"data-category" => "Ruby on Rails, TDD", "data-date" => "2015", "data-descr" => "Clone of NetFLiX built with Ruby on Rails", "data-images" => "/assets/images/projects/myflix1.jpg,/assets/images/projects/myflix2.jpg, /assets/images/projects/myflix3.jpg, /assets/images/projects/myflix4.jpg, /assets/images/projects/myflix5.jpg, /assets/images/projects/myflix6.jpg, /assets/images/projects/myflix7.jpg, /assets/images/projects/myflix8.jpg, /assets/images/projects/myflix9.jpg, /assets/images/projects/myflix10.jpg, /assets/images/projects/myflix11.jpg", "data-link" => "myflix-doug.herokuapp.com, http://myflix-doug.herokuapp.com", "data-github" => "https://github.com/doug7410/myflix"}
    %p
      This app was built with Tealeaf Academy's third course
      =link_to '"Build Robust and Production Quality Applications"', 'http://www.gotealeaf.com/curriculum#!production-apps'
      It's a clone of netflix.com. It doesn't stream video like Netflix, but it focusus more on software design and some advance development topics. The first thing I learned while building this app was Test Driven Development. After learning the basics of TDD, I can see how it provides an exelent environment for developing robust, high quality code.

    %p Some interesting featrues and things I learned while building this:

    %ul
      %li Team colaboration with GitHub Flow
      %li Testing with Rspec and Capybara
      %li Complex registration workflow, service objects
      %li Users can invite friends to join. The friends are send a link with a temporary token which links them back to the inviter
      %li Integration with the Stripe API for billing
      %li Privileges and access control
      %li Seeding data
      %li Sending emails
      %li Use random tokens
      %li Email service providers
      %li Complex forms
      %li Self referential associations
      %li Organize cross cutting functionality with Concerns
      %li Background jobs
      %li Amazon S3
      %li Uploading files
      %li Skinny controller, fat model
      %li Wrapping APIs
      %li Beyond MVC

    %p.text-right
      =link_to 'http://myflix-doug.herokuapp.com' do
        %button.btn.btn-meflat.icon-right
          Visit Website
          %i.fa.fa-arrow-right
