%article.project-item.ruby-on-rails
  =image_tag "/assets/images/projects/teamail-small.jpg", class: "img-responsive.project-image"
  / Project thumb
  .hover-mask
    %h2.project-title teamail.biz
    / Project Title
    %p Teamwork with Email
    / Project Subtitle
  / ==== Project Preview HTML ====
  .sr-only.project-description{"data-category" => "Ruby on Rails, TDD", "data-date" => "2014", "data-descr" => "A web mailer which can share emails to team members.", "data-images" => "/assets/images/projects/teamail-01.jpg, /assets/images/projects/teamail-02.jpg, /assets/images/projects/teamail-03.jpg, /assets/images/projects/teamail-04.jpg, /assets/images/projects/teamail-05.jpg, /assets/images/projects/teamail-06.jpg, /assets/images/projects/teamail-07.jpg", "data-github" => "https://github.com/lohaswork/teamail.biz"}
    %p This is a web mailer combines the function of mailer and team collaboration tool to provide team members one place to share, find, and organize tasks to get work done with email.
    %p
      It was the first product shipped by LohasWorks which I founded in 2013 and I was the product manager and key code reviewer of the project.
      The project also won the
      %b Finalist Award for the 2nd China Innovation & Entrepreneurship Competition
      (Shanghai Division).

    %h4 Features
    %ul
      %li Essential mailer function like Gmail
      %li Email sharing to team members
      %li Change emails to tasks through tag
      %li Invite others to join discssion without sign in

    %h4 Skills
    %ul
      %li Built with Ruby 2 and Rails 4
      %li TDD with Rspec, Capybara
      %li Code quality with Tailor, Reek, Metric-Fu and Rails Best Practices
      %li Continuous CI and CD with Jenkins, Capistrano and Aliyun
      %li Email engine with MailGun and background jobs(Sidekiq)
      %li Oauth with Doorkeeper
      %li Image upload with CarrierWave on Aliyun

    %h4 Introduction Video
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/n0IT4WEU0n0", :width => "560"}
