%section#portfolio.color-bg.padding-top-bottom
  .container
    %header.section-header.text-center
      %h1.scrollimation.scale-in My Works
      %p
        Some Ruby related projects I've worked over the last few years.
  / ==== Portfolio Filters ====
  #filter-works
    %ul
      %li.active.scrollimation.fade-right.d1
        %a{"data-filter" => "*", :href => "#"} All
      %li.scrollimation.fade-right
        %a{"data-filter" => ".ruby-on-rails", :href => "#"} Ruby on Rails
      %li.scrollimation.fade-left
        %a{"data-filter" => ".ruby-sinatra", :href => "#"} Ruby/Sinatra
  / End portfolio header

  =render 'portfolio'
