%section#contact.dark-bg.light-typo.padding-top
  .container
    %header.section-header.text-center
      %h1.scrollimation.scale-in Drop Me a Line
      %p
        Leave me a message and I'll write you back through Email.
    = form_for @inquiry, html: {id: "contact-form", class: "text-center bl_form" } do |f|
      %span.field-wrap.scrollimation.fade-right
        %label.control-label{:for => "contact-name"} Name
        =f.text_field :name, 'id' => "contact-name", 'class' => "label_better requiredField", "data-error-empty" => "*Enter your name", "data-new-placeholder" => "Name", :placeholder => "Name"
      %span.field-wrap.scrollimation.fade-in
        %label.control-label{:for => "contact-mail"} Email
        =f.email_field :email, 'id' => "contact-name", 'class' => "label_better requiredField", "data-error-empty" => "*Enter your email", "data-error-invalid" => "x Invalid email address", "data-new-placeholder" => "Email Address", :placeholder => "Email Address"
      %br
      %span.field-wrap.scrollimation.fade-left
        %label.control-label{:for => "contact-message"} Message
        =f.text_area :message, 'id' => "contact-message", 'class' => "requiredField", "data-error-empty" => "*Enter your message", "data-new-placeholder" => "Message", :placeholder => "Message"
      %p.text-center
        %button.btn.btn-meflat.icon-left{"data-error-message" => "Error!", "data-ok-message" => "Message Sent", "data-sending-message" => "Sending...", :name => "submit", :type => "submit"}
          %i.fa.fa-paper-plane>
          Send Message
      %input#submitted{:name => "submitted", :type => "hidden", :value => "true"}/
