%footer#main-footer.dark-bg.light-typo
  .container
    %hr/
    .row
      .col-sm-6
        %ul.social-links
          %li.scrollimation.fade-right.d4
            =link_to 'https://twitter.com/doug7410', target: 'blank' do
              %i.fa.fa-twitter.fa-fw
          %li.scrollimation.fade-right.d3
            =link_to 'https://www.facebook.com/doug.steinberg.14', target: 'blank' do
              %i.fa.fa-facebook.fa-fw
          %li.scrollimation.fade-right.d2
            =link_to 'https://plus.google.com/u/0/+DougSteinberg7410/posts', target: 'blank' do
              %i.fa.fa-google-plus.fa-fw
          %li.scrollimation.fade-right.d1
            =link_to 'https://github.com/doug7410', target: 'blank' do
              %i.fa.fa-github.fa-fw
          %li.scrollimation.fade-right
            =link_to 'www.linkedin.com/in/dougsteinberg', target: 'blank' do
              %i.fa.fa-linkedin.fa-fw
      .col-sm-6.text-right.scrollimation.fade-in
        %p ©2014 Doug Steinberg
