%footer#main-footer.dark-bg.light-typo
  .container
    %hr/
    .row
      .col-sm-6
        %ul.social-links
          -# %li.scrollimation.fade-right.d4
          -#   =link_to 'https://twitter.com/navyboys', target: 'blank' do
          -#     %i.fa.fa-twitter.fa-fw
          -# %li.scrollimation.fade-right.d3
          -#   =link_to 'https://www.facebook.com/bin.zheng.33', target: 'blank' do
          -#     %i.fa.fa-facebook.fa-fw
          -# %li.scrollimation.fade-right.d2
          -#   =link_to 'https://plus.google.com/107278797077634040723', target: 'blank' do
          -#     %i.fa.fa-google-plus.fa-fw
          %li.scrollimation.fade-right.d1
            =link_to 'https://github.com/navyboys', target: 'blank' do
              %i.fa.fa-github.fa-fw
          %li.scrollimation.fade-right
            =link_to 'ca.linkedin.com/in/navyboys', target: 'blank' do
              %i.fa.fa-linkedin.fa-fw
      .col-sm-6.text-right.scrollimation.fade-in
        %p ©2016 @navyboys
