#main-nav.navbar.navbar-fixed-top{class: ('scrolled' unless @main_page)}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#site-nav", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      / ======= LOGO (for small screens)========
      %a.navbar-brand.visible-xs.scrollto{:href => "#home"} BZ
    #site-nav.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li{ class: ('active' if action_name == 'about') }
          =link_to 'About Me', '/about'
        %li{ class: ('active' if action_name == 'services') }
          =link_to 'Skills', '/services'
        %li{ class: ('active' if action_name == 'portfolio') }
          =link_to 'My Works', '/projects'
        %li#logo
          =link_to root_path do
            %h1
              B
              %span Z
        %li
          =link_to 'Blog', 'http://www.NavySPACE.net', target: 'blank'
        %li
          =link_to 'Resume', 'https://drive.google.com/file/d/0B5uPdQYZWx1DdThRNlNkWEcyVXM/view?usp=sharing', target: 'blank'
        %li
          =link_to 'Contact', new_inquiry_path
